::-webkit-scrollbar { 
	display: none; 
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


.top, .left, .right, .bottom, .menu, .menuText, .home, .zoomOut, .zoomIn, .cover, .eyeCon, .info {
	z-index: 50;
}

.top {
	position: fixed;
	width: 1440px;
	height: 100px;
}
.top img {
	width: 100%;
	opacity: 0;
}
.top img:hover {
	opacity: 1;
	cursor: pointer;
}

.topTriangle {
	position: absolute;
	width: 144px;
	top: -4px;
}

.topTriangle img {
	width: 100%;
}

.left {
	position: fixed;
	height: 780px;
}
.left img {
	height: 100%;
	opacity: 0;
}
.left img:hover {
	opacity: 1;
	cursor: pointer;
}

.leftTriangle {
	position: absolute;
	height: 78px;
	left: 0px;
}

.leftTriangle img {
	height: 100%;
}

.right {
	position: fixed;
	right: 0px;
	height: 780px;
}
.right img {
	height: 100%;
	opacity: 0;
}
.right img:hover {
	opacity: 1;
	cursor: pointer;
}

.rightTriangle {
	position: absolute;
	height: 78px;
	right: 0px;
}

.rightTriangle img {
	height: 100%;
}

.bottom {
	position: fixed;
	width: 1440px;
	bottom: -4px;
}
.bottom img {
	width: 100%;
	opacity: 0;
}
.bottom img:hover {
	opacity: 1;
	cursor: pointer;
}

.bottomTriangle {
	position: absolute;
	width: 144px;
	bottom: -4px;
}

.bottomTriangle img {
	width: 100%;
}

.menu {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 50px;
	cursor: pointer;
}

.menu img {
	width: 100%;
}

.xMenu {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 50px;
	cursor: pointer;
	display: none;
	z-index: 51;
}

.xMenu img {
	width: 100%;
}

.spaceMenu {
	height: 49px;
	width: 1px;
}

.menuText {
	position: fixed;
	left: -144px;
	top: 0px;
	width: 144px;
    height: 215px;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	background-image: url('../images/infoBg.png');
	background-size: 100% 100%;
}

.menuText p {
	font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 500;
}

.home {
	position: absolute;
	left: 25px;
    top: 161px;
    width: 57px;
    height: 19px;
	cursor: pointer;
}

.zoomOut {
	position: absolute;
	left: 25px;
    top: 116px;
    width: 93px;
    height: 19px;
	cursor: pointer;
}


.zoomIn {
	position: fixed;
	left: 25px;
    top: 116px;
    width: 76px;
    height: 19px;
	cursor: pointer;
	display: none;
}

.zoomIn p {
	font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 500;
}

.info {
	position: absolute;
	left: 25px;
    top: 71px;
    width: 36px;
    height: 20px;
	cursor: pointer;
}

.infoX {
	position: fixed;
	cursor: pointer;
	width: 50px;
	z-index: 53;
}

.infoX h2 {
	font-size: 32px;
	color: white;
}

.infoPage {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-image: url('../images/infoBg.png');
	background-size: 100% 100%;
	z-index: 52;
}

.infoPage img {
	width: 100%
}

.infoPage p {
	font-size: 28px;
    text-align: left;
    color: white;
    width: 621px;
    margin: auto;
    margin-top: 229px;
    margin-bottom: 30px;
    z-index: 10;
    line-height: 46px;
}

.infoPage h1 {
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	width: 700px;
    margin: auto;
    z-index: 10;
    text-align: center;
    font-weight: 400;
}

.eyeCon {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	display: none;
}

.eyeCon img {
	width: 100%;
}

.cover {
	position: fixed;
	width: 1440px;
	height: 780px;
	background-color: #ffe6c3;
	display: none;
}

.coverClick {
	width: 1440px;
	height: 780px;
	position: absolute;
	z-index: 49;
	display: none;
}

.coverClick img {
	width: 100%;
	height: 100%;
}










.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	transform: scale(10);
	transform-origin: left top;
	background-color: white;
}

.container.animate {
	transform: scale(1);
	left: 0;
	top: 0;
}

p, a, h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

p, a, h2 {
	font-size: 2.5px;
	font-weight: 400;
}

h1 {
	font-size: 9px;
	font-weight: 800;
	text-align: left;
}

h3 {
	font-size: 1.5px;
	font-weight: 400;
}

div {
	margin:0px;
	padding:0px;
}

.block {
	position:absolute;
	width: 10vw;
	height: 10vh;
	margin: 0;
	padding: 0;
}

#cream {
	background-color: #ffe6c3;
}

#dark {
	background-color: #353a4e;
}

#brandy {
	background-color: #fbebeb;
}

#white {
	background-color: white;
}

.center {
	display: block;
	margin: auto;
}


.col2 {
	left: 10vw;
}

.col3 {
	left: 20vw;
}

.col4 {
	left: 30vw;
}

.col5 {
	left: 40vw;
}

.col6 {
	left: 50vw;
}

.col7 {
	left: 60vw;
}

.col8 {
	left: 70vw;
}

.col9 {
	left: 80vw;
}

.col10 {
	left: 90vw;
}





.row2 {
	top: 10vh;
}

.row3 {
	top: 20vh;
}

.row4 {
	top: 30vh;
}

.row5 {
	top: 40vh;
}

.row6 {
	top: 50vh;
}

.row7 {
	top: 60vh;
}

.row8 {
	top: 70vh;
}

.row9 {
	top: 80vh;
}

.row10 {
	top: 90vh;
}



.intro img {
	display: block;
	width: 50%;
	position: absolute;
	top: 30%;
	left: 26%;
}

.arrow img {
	position: absolute;
	width: 43px;
	top: 10%;
	left: 21%;
	margin: 0px;
}

.r4c7 {
	width: 46px;
	position: absolute;
	left: 49px;
	top: 61px;
}

.r4c7 p {
	color: #d19e94;
}

.square {
	position: absolute;
	width: 4.4px;
	height: 4.4px;
	background-color: #d19e94;
}

#square1 {
	transform: rotate(57deg);
	left: 34px;
	top: 52px;
}

#square2 {
	transform: rotate(104deg);
	left: 59px;
	top: 28px;
}

.circle {
	position: absolute;
	height: 4.4px;
	width: 4.4px;
	border-radius: 50%;
	background-color: #d19e94;
}

#circle1 {
	left: 90px;
	top: 32px;
}

#circle2 {
	left: 110px;
	top: 14px;
}

#circle3 {
	left: 90px;
	top: -2px;
}

#circle4 {
	left: 103px;
	top: 47px;
}

#circle5 {
	left: 63px;
	top: 63px;
}

.gradientWrappers { 
	padding: 10px;
	padding-bottom: 0;
	padding-left: 0;
		border-radius: 0 100px 0 0;
	-moz-border-radius: 0 100px 0 0;
	-webkit-border-radius: 0 100px 0 0;
	
	
	background: #d19e94;
	background: -webkit-linear-gradient(#d19e94, white); 
	background: -o-linear-gradient(#d19e94, white); 
	background: -moz-linear-gradient(#d19e94, white); 
	background: linear-gradient(#d19e94, white); 
}

.quarterCircleGradient {
	padding: 4px;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 75.5px;
	top: 7px;
	border-radius: 0 100px 0 0;
	-moz-border-radius: 0 100px 0 0;
	-webkit-border-radius: 0 100px 0 0;
	background: #d19e94;
	background: -webkit-linear-gradient(#95a2ca, #d19e94);
	background: -o-linear-gradient(#95a2ca, #d19e94); 
	background: -moz-linear-gradient(#95a2ca, #d19e94); 
	background: linear-gradient(#95a2ca, #d19e94);
}

.quarterCircleCover {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 75.5px;
	top: 15px;
	background: white;
	border-radius: 0 100px 0 0;
	-moz-border-radius: 0 100px 0 0;
	-webkit-border-radius: 0 100px 0 0;
	z-index: 10;
}

.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 4px solid #95a2ca;
}

#triangle1 {
	left: 48px;
	top: 20px;
	transform: rotate(120deg);
}

#triangle2 {
	left: 19px;
	top: 8px;
	transform: rotate(26deg);
}

#triangle3 {
	left: -1px;
	top: 37px;
	transform: rotate(90deg);
	z-index: 1;
}

.r3c8 {
	position: absolute;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.r3c8 img {
	height: 70px;
}

.steps img {
	width: 50%;
	position: absolute;
	top: 12%;
	left: 26%;
}

.r3c6 {
	width: 46px;
	position: absolute;
	left: 96px;
	top: 26px;
}






.icon1 {
	position: absolute;
	left: 7px;
	top: 13px;
	width: 37px;
	height: 51px;
	overflow: hidden;
	z-index: 10;
}

.icon1 img {
	width: 100%;
}

.icon1 p {
	position: absolute;
	left: 12px;
	top: 24px;
	z-index: -2;
}

.hover1 {
	position:absolute;
	overflow: hidden;
	top: 3px;
    left: 3px;
    width: 32px;
    height: 44px;
	z-index: -1;
}

#zoom1 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -29px;
    left: -58px;
	width: 300%;
}

.icon1 .hover1 {
	display: none;
	position: absolute;
}

.icon1:hover .hover1 {
	display: block;
	position: absolute;
}

.icon1:hover {
	cursor:zoom-in;
}

.icon1 p, .icon1 a, .icon1 a:visited {
	color: #95a2ca;
}

.frame1 {
	position: fixed;
	left: 53vw;
	top: 21vh;
	height: 30px;
	z-index: 60;
}

.frame1 img {
	position: relative;
	width: 60px;
}

.image1 {
	width: 28px;
	height: 38px;
	top: 8px;
	left: 57px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/birthOfVenus.jpg);
	background-size: 70px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image1 img {
	width: 300%;
}

.setting1 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 17%;
	top: 50%;
}






.insides {
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
	position: absolute;
	z-index: 100;
}

.xOut {
	position: absolute;
	right: 5px;
	top: 4px;
	z-index: 80;
}

.xOut a {
	font-size: 5px;
	color: #9d9fa2;
	text-decoration: none;
}

.xOut:hover {
	cursor:pointer;
}

.quarterCircleGradient2 {
	width: 48px;
	height: 96px; /* as the half of the width */
	border-top-right-radius: 48px;  /* 100px of height + 10px of border */
	border-bottom-right-radius: 48px; /* 100px of height + 10px of border */
	background-color: #bce6f4;
	background: linear-gradient(#bce6f4, rgba(255,0,0,0));
	position: absolute;
	left: 44px;
	top: -60px;
}

.quarterCircleCover2 {
	width: 34px;
	height: 68px; /* as the half of the width */
	border-top-right-radius: 34px;  /* 100px of height + 10px of border */
	border-bottom-right-radius: 34px; /* 100px of height + 10px of border */
	background-color: white;
	position: absolute;
	left: 44px;
	top: -47px;
}

.r2c6 {
	position: absolute;
	left: 8px;
	top: 55px;
	z-index: 10;
}

.r2c6 p {
	text-align: left;
	color: #bce6f4;
}

.time img {
	width: 20px;
}

.clockOne {
	position: absolute;
	left: 13px;
	top: -13px;
}

.clockTwo {
	position: absolute;
	left: 58px;
	top: 47px;
}

.clockThree {
	position: absolute;
	left: 11px;
	top: 11px;
}

.clockArrow1 img {
	width: 25px
}

.clockArrow1 {
	position: absolute;
	left: 35px;
	top: 58px;
}

.clockArrow2 img {
	width: 97px
}

.clockArrow2 {
	position: absolute;
	left: 35px;
	top: 10px;
}

.clockArrow3 img {
	width: 42px
}

.clockArrow3 {
	position: absolute;
	left: -36px;
	top: 4px;
	transform: rotate(10deg);
}







.icon2 {
	position: absolute;
	left: 44px;
	top: 10px;
	width: 55px;
	z-index: 10;
}

.icon2 img {
	width: 100%;
}

.hover2 {
	position:absolute;
	overflow: hidden;
	top: 1px;
    left: 3px;
    width: 48px;
    height: 58px;
	z-index: -1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#zoom2 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -36px;
    left: -90px;
	width: 300%;
}

.icon2 .hover2 {
	display: none;
	position: absolute;
}

.icon2:hover .hover2 {
	display: block;
	position: absolute;
}

.icon2:hover {
	cursor:zoom-in;
}

.frame2 {
	position: fixed;
	left: 40.75vw;
	height: 30px;
	z-index: 60;
}

.frame2 img {
	position: relative;
	width: 120px;
}

.image2 {
	width: 65px;
	height: 41px;
	top: 33px;
	left: 26px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/arm.jpg);
	background-size: 120px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image2 img {
	width: 300%;
}

.setting2 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}






.r1c5 {
	position: absolute;
	left: 44px;
	top: 70px;
	width: 55px;
	z-index: 1;
}

.r1c5 h1 {
	color: #d19e94;
	text-align: center;
}

.questionMark1 {
	position: absolute;
	left: 73px;
	top: 32px;
	width: 30px;
}

.questionMark1 img {
	width: 100%;
}

.questionMark2 {
	position: absolute;
	left: -35px;
	top: 51px;
	width: 80px;
}

.questionMark2 img {
	width: 100%;
}

.r2c4 {
	position: absolute;
	left: 14px;
	top: 23px;
	margin: auto;
/*	width: 60px;*/
}

.r2c4 p {
	color: #d1d3d4;
}

.threeArrows {
	position: absolute;
	left: 1px;
	top: -4px;
	height: 100px;
}

.threeArrows img {
	width: 100%;
}

.r3c3 {
	position: absolute;
	left: 58px;
	top: 23px;
	width: 74px;
}

.r3c3 img {
	width: 100%;
}

.iceCream {
	height: 57px;
	position: absolute;
	left: 50px;
	top: 11px;
}

.iceCream img {
	height: 100%;
}








.icon3 {
	position: absolute;
	left: 44px;
	top: 10px;
	width: 55px;
	overflow: hidden;
	z-index: 10;
}

.icon3 img {
	width: 100%;
}

.hover3 {
	position:absolute;
	overflow: hidden;
	top: 3px;
    left: 3px;
    width: 45px;
	height: 40px;
	-webkit-clip-path: polygon(55% 0%, 1% 99%, 108% 94%);
	clip-path: polygon(55% 0%, 1% 99%, 108% 94%);
	z-index: -1;
}

#zoom3 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -10px;
    left: -28px;
    width: 72px;
}

.icon3 .hover3 {
	display: none;
	position: absolute;
}

.icon3:hover .hover3 {
	display: block;
	position: absolute;
}

.icon3:hover {
	cursor:zoom-in;
}

.frame3 {
	position: fixed;
	left: 31vw;
	top: 30vh;
	height: 30px;
	z-index: 60;
}

.frame3 img {
	position: relative;
	width: 117px;
}

.image3 {
	width: 21px;
    height: 24px;
    top: 25px;
    left: 60px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/map.jpg);
	background-size: 40px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image3 img {
	width: 300%;
}

.setting3 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}







.r4c5 {
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-top: -1px;
	text-align: center;
	color: #bce6f4;
	text-decoration: underline;
}

.r4c5 p {
	color: #bce6f4;
	text-decoration: underline;
}

.r4c6 {
	background: linear-gradient(-45deg, #bce6f4, #95a2ca, #d19e94, #f9cf98);
	width: 100%;
	height: 100%;
}

.r4c3 {
	width: 128px;
	height: 68px;
	background-color: #95a2ca;
	position: absolute;
	left: 7px;
	top: 5px;
}

.connector1 {
	width: 15px;
	height: 20px;
	background-color: #95a2ca;
	position: absolute;
	left: 132px;
	top: 30px;
}

.r4c3 p {
	width: 60px;
	position: absolute;
	left: -4px;
	top: 31px;
	color: white;
	text-align: left;
}

.connector2 {
	width: 17px;
	height: 16px;
	background-color: #95a2ca;
	position: absolute;
	left: -10px;
	top: 32px;
	background: linear-gradient(to right, #f9cf98, #95a2ca);
}

.glasses {
	position: absolute;
	top: 2px;
	width: 280px;
}

.glasses img {
	width: 100%;
}

.r3c2 {
	position: absolute;
	top: 2px;
	left: 20px;
	height: 60px;
}

.r3c2 img {
	height: 100%;
}

.r5c1 {
	position: absolute;
	left: 7px;
	width: 124px;
	z-index: 1;
}

.r5c1 img {
	width: 100%;
}








.icon4 {
	position: absolute;
	left: 49px;
    top: 24px;
    width: 48px;
	z-index: 10;
}

.icon4 img {
	width: 100%;
}


.hoverFixFrame {
	position:absolute;
	overflow: hidden;
    width: 44px;
    height: 25px;
    top: 1px;
    left: 3px;
	border-top-left-radius: 20px 14px;
    border-top-right-radius: 37px 23px;
    border-bottom-left-radius: 15px 9px;
    border-bottom-right-radius: 16px 15px;
    z-index: -1;
}

.hover4 {
	position:absolute;
	overflow: hidden;
    width: 44px;
    height: 25px;
	border-top-left-radius: 20px 14px;
    border-top-right-radius: 24px 10px;
    border-bottom-left-radius: 15px 9px;
    border-bottom-right-radius: 16px 15px;
}

#zoom4 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -15px;
    left: -34px;
    width: 84px;
}

.icon4 .hoverFixFrame {
	display: none;
	position: absolute;
}

.icon4:hover .hoverFixFrame {
	display: block;
	position: absolute;
}

.icon4:hover {
	cursor:zoom-in;
}

.frame4 {
	position: fixed;
	left: 0.6vw;
    top: 40vh;
    height: 30px;
	z-index: 60;
}

.frame4 img {
	position: relative;
	width: 117px;
}

.image4 {
	width: 47px;
    height: 39px;
    top: 9px;
    left: 31px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/camera.jpg);
	background-size: 80px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image4 img {
	width: 300%;
}

.setting4 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}








.eyeCU {
	position: absolute;
	left: 22px;
	top: 28px;
	width: 16px;
}

.eyeCU img {
	width: 100%;
}

.r5c2 h1 {
	color: #bce6f4;
	position: absolute;
	left: 65px;
	top: 32px;
	letter-spacing: 11px;
}

.r5c3 {
	position: absolute;
	left: 56px;
	top: 9px;
	width: 70px;
}

.r5c3 img {
	width: 100%;
}

.r6c1 {
	position: absolute;
	left: 4px;
	top: 10px;
	width: 170px;
	z-index: 1;
}

.r6c1 img {
	width: 100%;
}

.roundedBar {
	border-radius: 25px;
	width: 412px;
	height: 30px;
	background: linear-gradient(-90deg, #bce6f4, #d19e94, #f9cf98);
	position: absolute;
	left: 10px;
	top: 25px;
	z-index: 1;
}

.col4 .roundedBar:hover {
	cursor: none;
}

.gradientFluff {
	width: 10vw;
	height: 10vh;
	z-index: -1;
}

.gradientFluff img {
	width: 100%;
	height: 100%;
}

.r6c3 h1 {
	position: absolute;
	left: -2px;
	top: 11px;
	color: #f9cf98;
}

.r6c3 p {
	position: absolute;
	left: 119px;
	top: 14px;
	width: 24px;
	text-align: left;
	color: #95a2ca;
}

.horizontalBar {
	width:148px;
	height: 20px;
	overflow: hidden;
	position: absolute;
	left: -2px;
	top: 51px;
	z-index: 11;
}

.horizontalBar img {
	width: 100%;
}

.r6c4 {
	position: absolute;
	left: 87px;
	top: 48px;
}

.r6c4 p {
	color: #95a2ca;
	text-align: left;
}








.icon5 {
	position: absolute;
	left: 12px;
    top: 3px;
    width: 50px;
	z-index: 10;
}

.icon5 img {
	width: 100%;
}

.hover5 {
	position:absolute;
	overflow: hidden;
	top: 1px;
    left: 3px;
    width: 48px;
    height: 58px;
	z-index: -1;
-webkit-clip-path: polygon(82% 0, 96% 47%, 65% 86%, 0 65%, 0 45%);
clip-path: polygon(82% 0, 96% 47%, 65% 86%, 0 65%, 0 45%);
}

#zoom5 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -19px;
    left: -34px;
    width: 116px;
}

.icon5 .hover5 {
	display: none;
	position: absolute;
}

.icon5:hover .hover5 {
	display: block;
	position: absolute;
}

.icon5:hover {
	cursor:zoom-in;
}

.frame5 {
	position: fixed;
	left: 30.5vw;
    top: 50.1vh;
	height: 30px;
	z-index: 60;
}

.frame5 img {
	position: relative;
	width: 130px;
}

.image5 {
	width: 130px;
    height: 29px;
    top: 31px;
    left: 7px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/speakers.jpg);
	background-size: 160px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image5 img {
	width: 300%;
}

.setting5 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}









.loop {
	width: 148px;
	position: absolute;
	left: -12px;
	top: 4px;
	z-index: 12;
}

.loop img {
	width: 100%;
}

.r6c5 {
	width: 34px;
	position: absolute;
	left: 68px;
	top: 59px;
}

.r6c5 p {
	color: #95a2ca;
	text-align: left;
}

.r7c5 {
	width: 10vw;
	height: 10vh;
	border-radius: 29px;
	background-color: #d19e94;
}

.r7c5 p {
	color: white;
	position: absolute;
	left: 83px;
	top: 35px;
}

.florence {
	height: 46px;
	position: absolute;
	left: 37px;
	top: 7px;
}

.florence img {
	height: 100%;
}

.r7c4 h3 {
	color: #353a4e;
	position: absolute;
	right: 38px;
	top: 58px;
	text-align: right;
	line-height: 3px;
}

.r8c5New h1 {
	position: absolute;
	left: -7px;
	top: 33px;
	transform: rotate(-85deg);
	color: #d19e94;
	font-weight: 800;
}

.r8c5New h1:hover {
	background: linear-gradient(96deg, #d19e94, #f9cf98);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: crosshair;
}

.r8c5Old h1 {
	position: absolute;
	left: 28px;
	top: 40px;
	transform: rotate(-18deg);
	color: #bce6f4;
	font-weight: 800;
}

.r8c5Old h1:hover {
	background: linear-gradient(100deg, #95a2ca, #bce6f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: crosshair;
}

.biennale {
	position: absolute;
	display: inline-block;
	left: 7px;
	top: 1px;
	height: 48px;
}

.biennale img {
	height: 100%;
	padding: 15px;
}

.r9c5 h3 {
	position: absolute;
	left: 8px;
	top: 12px;
	line-height: 4px;
	text-align: left;
}

.ghiberti {
	position: absolute;
	left: 41px;
	top: 6px;
	height: 66px;
}

.ghiberti img {
	height: 100%;
}

.r9c6 h3 {
	position: absolute;
	right: 8px;
	top: 12px;
	line-height: 4px;
	text-align: left;
}

.brunelleschi {
	position: absolute;
	left: 41px;
	top: 6px;
	height: 66px;
}

.brunelleschi img {
	height: 100%;
}


.darkPath {
	position: absolute;
	left: -8px;
	top: -74px;
}

.darkPath img {
	width: 219px;
}

.r7c6 h1, .r6c6 h1, .r6c7 h1 {
	position: absolute;
	right: 4px;
	bottom: 4px;
	color: white;
	z-index: 1;
}

.eyes1 {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 65px;
}

.eyes1 img {
	width: 100%;
}

.eyes2 {
	position: absolute;
	left: 2px;
	top: -2px;
	width: 60px;
}

.eyes2 img {
	width: 100%;
}

.eye3 {
	position: absolute;
	left: 1px;
	top: -5px;
	width: 144px;
}

.eye3 img {
	width: 100%;
}

.r6c8 {
	position: absolute;
	width: 288px;
	z-index: 2;
}

.r6c8 img {
	width: 100%;
}

.bwFrame {
	height: 68px;
	position: absolute;
	left: 49px;
	top: 5px;
}

.bwFrame img {
	height: 100%;
}

.columnRock {
	height: 110px;
	position: absolute;
	left: 29px;
	top: 50px;
	z-index: 1;
}

.columnRock img {
	height: 100%;
}






.icon6 {
	position: absolute;
	left: 35px;
    top: 8px;
    width: 39px;
	z-index: 10;
}

.icon6 img {
	width: 100%;
}

.hover6 {
	position:absolute;
	overflow: hidden;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 39px;
	z-index: -1;
-webkit-clip-path: polygon(20% 0, 100% 0, 100% 83%, 75% 100%, 0 100%, 0 18%);
clip-path: polygon(20% 0, 100% 0, 100% 83%, 75% 100%, 0 100%, 0 18%);
}

#zoom6 {
	position:absolute;
	margin: 0;
	padding: 0;
     top: -25px;
    left: -4px;
    width: 71px;
}

.icon6 .hover6 {
	display: none;
	position: absolute;
}

.icon6:hover .hover6 {
	display: block;
	position: absolute;
}

.icon6:hover {
	cursor:zoom-in;
}

.frame6 {
	position: fixed;
	left: 61vw;
    top: 60vh;
	height: 30px;
	z-index: 60;
}

.frame6 img {
	position: relative;
	width: 73px;
}

.image6 {
	width: 31px;
    height: 54px;
    top: 4px;
    left: 42px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/changing.jpg);
	background-size: 70px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image6 img {
	width: 300%;
}

.setting6 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}







.r8c7 h1 {
	position: absolute;
	left: 75px;
	top: 3px;
	text-transform: uppercase;
	color: #e9d0ca;
}

.artNoodles {
	position: absolute;
	left: 55px;
	top: 60px;
	width: 161px;
	z-index: 1;
}

.artNoodles img {
	width: 100%;
}

.r7c8 {
	color: #d19e94;
	position: absolute;
	top: 10px;
	width: 30px;
}

.r7c8 h3 {
	text-align: left;
	line-height: 2px;
}

#leftColumn {
	left: 30px;
}

#rightColumn {
	left: 80px;
}

.r8c8 p {
	color: #95a2ca;
	position: absolute;
	left: 20px;
	top: 29px;
	text-align: left;
}

.r9c7 p {
	color: #bce6f4;
	position: absolute;
	left: 18px;
	top: 36px;
	text-align: left;
}

.r9c8 {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.r9c8 img {
	height: 70px;
}

.r9c9 {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.r9c9 img {
	height: 70px;
}

.r10c8, .leftBar {
	position: absolute;
	background-color: #f9cf98;
	z-index: 2;
}

.r10c8 {
	left: 91px;
    width: 69px;
	top: 34px;
	height: 9px;
}







.icon7 {
	position: absolute;
	left: 38px;
    top: 5px;
    width: 63px;
	z-index: 10;
}

.icon7 img {
	width: 100%;
}

.hover7 {
	position:absolute;
	overflow: hidden;
	top: 1px;
    left: 3px;
    width: 57px;
    height: 63px;
	z-index: -1;
	-webkit-clip-path: polygon(43% 24%, 56% 0%, 102% 15%, 73% 86%, 57% 86%, 58% 95%, 13% 100%, 0 33%);
	clip-path: polygon(43% 24%, 56% 0%, 102% 15%, 73% 86%, 57% 86%, 58% 95%, 13% 100%, 0 33%);
	background-color: white;
}

#zoom7 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -25px;
    left: -82px;
	width: 250%;
}

.icon7 .hover7 {
	display: none;
	position: absolute;
}

.icon7:hover .hover7 {
	display: block;
	position: absolute;
}

.icon7:hover {
	cursor:zoom-in;
}

.frame7 {
	position: fixed;
	left: 71vw;
    top: 90vh;
	height: 30px;
	z-index: 60;
}

.frame7 img {
	position: relative;
	width: 116px;
}

.image7 {
    width: 49px;
    height: 38px;
    top: 5px;
    left: 45px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/scLivingRoom.jpg);
	background-size: 70px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image7 img {
	width: 300%;
}

.setting7 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}







.r10c9 {
	position: absolute;
	left: 37px;
	width: 70px;
	top: 38px;
	height: 1px;
	z-index: 1;
	background-color: white;
}

.beautyGlow {
	position: absolute;
	left: 48px;
	top: 18px;
	width: 49px;
	height: 30px;
	z-index: 5;
}

.beautyGlow img {
	width: 100%;
}

.functionGlow {
	position: absolute;
	left: 43px;
	top: 34px;
	width: 59px;
	height: 30px;
	z-index: 5;
}

.functionGlow img {
	width: 100%;
}

.leftBar {
	left: -16px;
	width: 90px;
	top: 34px;
	height: 9px;
}

.percolating {
	position: absolute;
	left: 33px;
	top: 1px;
	width: 0;
	height: 0;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
	border-bottom: 72px solid #f9cf98;
}

.r10c10 {
	position: absolute;
	left: 38px;
	top: 64px;
}

.r10c10 h1 {
	color: white;
	text-transform: uppercase;
	z-index: 3;
}

.funnel {
	position: absolute;
	left: 68px;
	top: 51px;
	background-color: #f9cf98;
	z-index: 2;
	width: 8px;
	height: 40px;
}

.jar1 {
	position: absolute;
	left: 57px;
	top: -19px;
	width: 30px;
	z-index: 3;
}

.jar1 img {
	width: 100%;
}

.jar2 {
	position: absolute;
	width: 15px;
}

.jar2 img {
	width: 100%;
}

#leftJar {
	left: 20px;
	top: 30px;
	transform: rotate(-45deg);
}

#rightJar {
	left: 110px;
	top: 10px;
	transform: rotate(30deg);
}







.icon8 {
	position: absolute;
	left: 40px;
    top: 5px;
    width: 63px;
	z-index: 10;
}

.icon8 img {
	width: 100%;
	z-index: 2;
}

.fix81 {
	position: absolute;
	left: 4px;
    top: 3px;
    width: 40px;
    height: 49px;
    z-index: -1;
	-webkit-clip-path: polygon(11% 16%, 33% 10%, 50% 51%, 62% 65%, 68% 97%, 44% 100%, 48% 95%, 34% 55%, 5% 49%);
	clip-path: polygon(11% 16%, 33% 10%, 50% 51%, 62% 65%, 68% 97%, 44% 100%, 48% 95%, 34% 55%, 5% 49%);
	background-color: white;
}

.fix82 {
	position: absolute;
	left: 33px;
    top: 2px;
    width: 40px;
    height: 51px;
	z-index: -1;
	-webkit-clip-path: polygon(7% 0, 51% 42%, 57% 53%, 32% 68%, 14% 94%, 0 96%, 15% 76%, 24% 36%);
	clip-path: polygon(7% 0, 51% 42%, 57% 53%, 32% 68%, 14% 94%, 0 96%, 15% 76%, 24% 36%);
	background-color: white;
}

.hover8 {
	position:absolute;
	overflow: hidden;
	top: 1px;
    left: 3px;
    width: 57px;
    height: 49px;
	z-index: -2;
	-webkit-clip-path: polygon(47% -2%, 93% 58%, 106% 65%, 93% 88%, 69% 96%, 33% 100%, 16% 79%, -6% 72%, 9% 49%, 26% 10%);
	clip-path: polygon(47% -2%, 93% 58%, 106% 65%, 93% 88%, 69% 96%, 33% 100%, 16% 79%, -6% 72%, 9% 49%, 26% 10%);
}

#zoom8 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -28px;
    left: -26px;
    width: 200%;
}

.icon8 .hover8 {
	display: none;
	position: absolute;
}

.icon8:hover .hover8 {
	display: block;
	position: absolute;
}

.icon8:hover {
	cursor:zoom-in;
}

.frame8 {
	position: fixed;
	left: 90vw;
    top: 70.5vh;
	height: 30px;
	z-index: 60;
}

.frame8 img {
	position: relative;
	width: 116px;
}

.image8 {
    width: 74px;
    height: 66px;
    top: 12px;
    left: 0px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/vending.jpg);
	background-size: 110px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image8 img {
	width: 300%;
}

.setting8 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}






.transitionLoop {
	position: absolute;
	left: 20px;
	top: 31px;
	width: 167px;
	z-index: 2;
}

.transitionLoop img {
	width: 100%;
}

.r7c9 p {
	position: absolute;
	left: 107px;
	top: 37px;
	color: white;
	text-align: left;
	z-index: 3;
}








.icon9 {
	position: absolute;
	left: 32px;
    top: 13px;
    width: 69px;
	z-index: 10;
}

.icon9 img {
	width: 100%;
	z-index: 2;
}

.hover9 {
	position:absolute;
	overflow: hidden;
	top: 1px;
    left: 2px;
    width: 64px;
    height: 55px;
	z-index: -2;
	-webkit-clip-path: polygon(39% 0, 83% 38%, 106% 71%, 64% 105%, 52% 97%, 26% 66%, 2% 29%, 19% 13%);
	clip-path: polygon(39% 0, 83% 38%, 106% 71%, 64% 105%, 52% 97%, 26% 66%, 2% 29%, 19% 13%);
}

#zoom9 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -84px;
    left: -35px;
    width: 236%;
}

.icon9 .hover9 {
	display: none;
	position: absolute;
}

.icon9:hover .hover9 {
	display: block;
	position: absolute;
}

.icon9:hover {
	cursor:zoom-in;
}

.frame9 {
	position: fixed;
	left: 91vw;
    top: 59.8vh;
	height: 30px;
	z-index: 60;
}

.frame9 img {
	position: relative;
	width: 52px;
}

.image9 {
    width: 24px;
    height: 49px;
	top: -20px;
    left: 26px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/phoneHold.jpg);
	background-size: 80px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image9 img {
	width: 300%;
}

.setting9 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}








.shout {
	position: absolute;
	left: 75px;
    top: -17px;
    width: 48px;
}

.shout img {
	width: 100%
}

.rickMorty {
	position: absolute;
	left: 32px;
	top: 24px;
	width: 80px;
	z-index: 5;
}

.rickMorty img {
	width: 100%;
}

.finalLook {
	position: absolute;
	left: 20px;
	top: 5px;
	width: 400px;
	z-index: 1;
}

.finalLook img {
	width: 100%;
	z-index: 1;
}

.r6c10 h1, .r5c10 h1, .r4c10 h1, .r4c9 h1, .r4c8 h1 {
	position: absolute;
	color: white;
	z-index: 3;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.r5c10 h1 {
	text-align: left;
}

.back {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #ffe6c3;
}

.handArrow {
	position: absolute;
	left: 5px;
	top: 36px;
	height: 8px;
}

.handArrow img {
	height: 100%;
}

.r5c8 p {
	color: #bce6f4;
	position: absolute;
	left: 21px;
	top: 40px;
	line-height: 9px;
}










.icon10 {
	position: absolute;
	left: 75px;
    top: 13px;
    width: 62px;
	z-index: 10;
}

.icon10 img {
	width: 100%;
	z-index: 2;
}

.hover10 {
	position:absolute;
	overflow: hidden;
	top: 2px;
    left: 4px;
    width: 53px;
    height: 55px;
	z-index: -2;
}

#zoom10 {
	position:absolute;
	margin: 0;
	padding: 0;
	top: -68px;
    left: -4px;
    width: 236%;
}

.icon10 .hover10 {
	display: none;
	position: absolute;
}

.icon10:hover .hover10 {
	display: block;
	position: absolute;
}

.icon10:hover {
	cursor:zoom-in;
}

.frame10 {
	position: fixed;
	left: 72.6vw;
    top: 40vh;
	height: 30px;
	z-index: 60;
}

.frame10 img {
	position: relative;
	width: 63px;
}

.image10 {
	width: 18px;
    height: 43px;
    top: 12px;
    left: 56px;
	z-index: 55;
	overflow: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	background-image: url(../images/computerWindows.jpg);
	background-size: 80px auto;
	transition: 0s linear;
	transition-property: background-position;
	background-repeat: no-repeat;
}

.image10 img {
	width: 300%;
}

.setting10 {
	position: absolute;
	z-index: 50;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
}




