body {
/*	animation-name:bgShow;
	animation-duration: 10s;*/
/*	background-image: url('https://simonjamesonweston.files.wordpress.com/2012/01/r1-13.jpg');
	    background-repeat: no-repeat;
    background-attachment: fixed;*/
	background-color: #c5cff1;
	margin: 0px;
	padding: 0px;
}

#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}


.intro {
	position:fixed;
    margin-top: -86px;
	margin-left:-8px;
	padding: 100px 50px 80px 50px;
	height: 100%;
	background-color: #91a4c0;
}

h1, h2, h3, p {
	font-family: helvetica;
}

h1{
	text-align: center;
	color:#ffe5c0;
	font-size: 40px;
	margin-bottom: 10px;
font-family: 'Cherry Swash', cursive;
}

.intro h2 {
	margin-bottom: -11px;
	margin-top: 20px;
}

.intro h2, h3{
	color:#ffe5c0;
	font-size: 10px;
	line-height: 14px;
}

.intro h3 a {
	color:#ffe5c0;
	opacity: 0.75;
}

.intro h3 a:hover {
	color:#ffe5c0;
	opacity: 1;
}

p {
	color: #B26B61;
	margin-left: 400px;
	line-height: 20px;
}

.original {
	padding: 75px 0;
}

@keyframes textOpacity{
	0% {background-color: white}
	100% {background-color: white}
}

.original, .stanza {
	background-color: #FFEAE7;
}

.stanza {
	padding: 75px 0;
	margin: 0;
}

span{
	border-bottom-width: 1px;
	border-bottom: 1px solid #4d6490;
}

.bigger p{
	font-size: 30px;
	color: white;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: .01em;
}

.bigger {
	padding:30px 0;
}

.tyger {
	position: absolute;
	width: 66%;
	height: 30%;
	opacity: 0.2;
	left: -200px;
}

.tyger:hover {
	opacity: 1;
}

/*.overlay {
	position: absolute;
	top: 393
	px;
	left: 0;
	width: 66%;
	height: 30%;
	margin-left: 17%;
	margin-left: 17%;
	background: #ffe5c0;
	opacity: 0.2;
}*/
